In [1]:
# Hackerrank
# Looping python digunakan koleksi
# Koleksi = string, list, set, tuple, dictionary
# for variabel in koleksi

fruits = ["Apple","Banana","Watermelon"]
for fruit in fruits:
    print(f"Nama buah: {fruit}")
print("Looping sudah selesai")

Nama buah: Apple
Nama buah: Banana
Nama buah: Watermelon
Looping sudah selesai

In [9]:
# Enumerate
month = ["Jan","Feb","Mar","Apr","May","Jun"]
for i,m in enumerate(month):
    if m == "Mar":
        continue
    print(f"{i} : {m}")
print("Loop month sudah selesai\n")

day = ["Mon","Tue","Wed","Thu","Fri","Sat","Sun"]
for i,d in enumerate(day):
    if d == "Thu":
        break
    print(f"{i} : {d}")
print("Looping day sudah selesai")

0 : Jan
1 : Feb
3 : Apr
4 : May
5 : Jun
Loop month sudah selesai

0 : Mon
1 : Tue
2 : Wed
Looping day sudah selesai

In [11]:
# Looping digunakan untuk string
name = input("Isikan nama anda:")
for n in name:
    print(n)

Isikan nama anda: Reza

R
e
z
a

In [13]:
# Looping untuk dictionary, data yang terdiri dari key, value
indToEnglish = {
   "makan" : "eat",
    "tidur" : "sleep",
    "minum" : "drink"
}

for key, value in indToEnglish.items():
    print(f"Bahasa inggris {key} : {value}")

Bahasa inggris makan : eat
Bahasa inggris tidur : sleep
Bahasa inggris minum : drink

In [27]:
# for menggunakan range
for i in range(5):
    print(f"Nilai i adalah {i}")

print("=====================")

for j in range(5,10):
    print(f"Nilai j adalah {j}")

print("=====================")

for k in range(1,10,2): #2 adalah step
    print(f"Nilai k adalah {k}")

print("=====================")

for l in range(10,0,-1):
    print(f"Nilai l adalah {l}")

Nilai i adalah 0
Nilai i adalah 1
Nilai i adalah 2
Nilai i adalah 3
Nilai i adalah 4
=====================
Nilai j adalah 5
Nilai j adalah 6
Nilai j adalah 7
Nilai j adalah 8
Nilai j adalah 9
=====================
Nilai k adalah 1
Nilai k adalah 3
Nilai k adalah 5
Nilai k adalah 7
Nilai k adalah 9
=====================
Nilai l adalah 10
Nilai l adalah 9
Nilai l adalah 8
Nilai l adalah 7
Nilai l adalah 6
Nilai l adalah 5
Nilai l adalah 4
Nilai l adalah 3
Nilai l adalah 2
Nilai l adalah 1

In [29]:
# For untuk list comprehension
data = [1,2,3,4,5,6,7,8,9,10] #pangkat dari masing" bilangan
pangkat = [x**2 for x in data]
print(pangkat)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]